

.camera-control-left{
  position:fixed;
  top:0px;
  left:0px;
  width:10%;
  height:100vh;
  z-index:100;
  background:gray;
}
.camera-control-right{
  position:fixed;
  top:0px;
  right:0px;
  width:10%;
  z-index:100;
  background:gray;

  height:100vh;
}

@font-face {
  font-family: 'GTEestiProText';
  src: url('/Fonts/GTEestiProText-Regular.ttf'); /* IE9 Compat Modes */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Syne-Regular';
  src: url('/Fonts/Syne-Regular.woff') format('woff'); /* IE9 Compat Modes */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


h1{
  letter-spacing: 2rem;
  font-family:'GTEestiProText', 'Courier New', sans-serif;
}
p{
  letter-spacing: .2rem;
}
p, span, h5{
  font-family:'Syne-Regular', 'Courier New', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background:rgb(14, 13, 13);
  /* background: radial-gradient(circle, rgb(58, 58, 58) 0%, rgba(0,0,0,1) 100%); */
}

main{
  height:100vh;
  overflow:hidden;
}

canvas {
  width: 100vw;
  height: 100%;
}

h1 {
  z-index:1;
  text-transform: uppercase;
}

.main {
  color: white;
}


a:hover {
  color: #3f51b5;
}


.header{
  cursor:pointer;
  position:fixed;
  box-sizing: border-box;
  top:0px;
  z-index:3;
  display:flex;
  align-items: center;
  text-align:center;
  width:100vw;
  height:auto;
  font-size:128px;
  justify-content: center;
  text-transform: uppercase;
  color:white;
  font-family:  Helvetica, sans-serif;
  padding:16px;
  filter:blur(6px);
  transition:all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.header:hover{
  filter:blur(0px);
}





footer:hover{
  filter:blur(0px);
}
footer span {
  margin-right:32px;
}

button{
  width:32px;
  height:32px;
  background-color: unset;
  border:0px;
  color:white;
  cursor:pointer;
}

.menurow{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:32px;
}

.menu{
  position:fixed;
  display:flex;
  box-sizing: border-box;
  flex-direction: column;
  right:0px;
  top:0px;
  height:100vh;
  width:100vw;
  color:white;
}

.menuempty{
  width:50%;
  background:unset;
  backdrop-filter:blur(15px);
  opacity:0.3;
}
.menucontainer{
  position:absolute;
  right:0px;
  display:flex;
  box-sizing: border-box;
  height:100vh;
  padding:16px;
  flex-direction: column;
  width:50%;
  background-color:rgba(0,0,0,0.85);
}


.snapshot{
  position:absolute;
  width:auto;
  top:120px;
  border-radius:4px;
  transform:translateX(-50%);
  left:50%;
  color:white;
  border:1px solid black;
}

.modalImage{
  z-index:10;
  display:flex;
  width:500px;
  height:500px;
  background-color:white;
  position:fixed;
  left:50%;
  transform:translate(-50%,-50%);
  top:50%;
}

.modalImageHidden{
  display:none;
}

.object-main{
  width:100vw;
  overflow:hidden;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content: space-between;
  border-bottom:1px dashed white;
}
.object-main-container{
  width:100vw;
  max-height:85vh;
  display:flex;
  /* overflow:hidden; */
  align-items: stretch;
  flex-direction:column;
}


main{
  display:flex;
  flex-direction:column;
}

.object-text{
  position:relative;
  width:100%;
  box-sizing:border-box;
  overflow:scroll;
  font-size:24px;
  font-family:Helvetica;
  padding:32px;
  padding-bottom:0px;
}
.object-text p{
  max-width:750px;
}
.object-text-three{
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  opacity:0.5;
  z-index:-1;
  filter:blur(32px);
}
.object-text-three .three{
  height:100%;
}
.object-text h1{
  margin-top:0;
  text-align: justify;
}
.object-three{
  border-left:1px dashed white;
  border-bottom:1px dashed white;
  max-height:85vh;
  display:flex;
  flex-direction:row;
  overflow:hidden;
  position:relative;
}
.button-sidebar{
  order:1;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:ew-resize;
  width:24px;
  border-right:1px dashed white;
  transition:0.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
.button-sidebar:hover{
  background-color:white;
  color:black;
}
.button-sidebar-content{
  white-space:nowrap;

}

.button-sidebar-horizontal{
  width:100%;
  order:1;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:ns-resize;
  max-height:24px;
  border-bottom:1px dashed white;
  transition:0.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}
.button-sidebar-horizontal:hover{
  background-color:white;
  color:black;
}

.sidebar-objects{
  display:flex;
  order:2;
  width:100%;
  flex-direction:column;
  overflow-y:scroll;
  overflow-x:hidden;
}


.three{
  position:relative;
  cursor:pointer;
  top:0px;
  height:25vh;
  left:0px;
  z-index:0;
}
.three span{
  position:absolute;
  left:52%;
  bottom:35%;
  text-transform: uppercase;
  text-align: center;
  transform:translateX(-50%) rotate(0deg);
  filter:blur(2px);
  font-size:24px;
}

.three :focus { outline: none; }
a {
  color: white;
  display: block;
  text-decoration: unset;
  font-size: 20px;
  margin: 5px 0;
}

.footer{
  display:flex;
  left:0px;
  bottom:0px;
  min-height:300px;
  height:fit-content;
  justify-content: space-between;
  z-index:20;
  padding:16px;
  padding-bottom:32px;
  order:2;
  backdrop-filter: blur(2px);
}


.card-footer{
  padding:8px;
  border:1px solid white;
  border-radius:8px;
  height:fit-content;
  display:flex;
  flex-direction:column;
  min-width:350px;
}
.card-footer, h5{
  margin:0;
  text-transform:uppercase;
  margin-bottom:8px;
}


.audio{
 z-index:20;
}
.player-container{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  position:relative;
}

.progressbar{
  width:500px;
  height: 4px;
  background-color:white;
  border-radius:4px;
  cursor:pointer;
}
.player-progress-icon{
  position:absolute;
  top:50%;
  cursor:pointer;
}

.player-progress-icon svg{
  filter: drop-shadow(0.5rem 0 0.2rem black);
}
.progressbar-inner{
  height:4px;
  background-color:gray;
  border-radius:4px;
}


progress[value]::-webkit-progress-bar {
  background-color: black;
  border-radius: 2px;
}
